.header {
  left: 0;
  right: 0;
  padding: 2rem 0rem 0rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 1.5rem;
  object-fit: contain;
  transition: opacity 0.2s ease;
}

.logoImage:hover {
  opacity: 0.8;
}

.greeting {
  color: white;
  font-size: 1.1rem;
}
