.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
}

.location {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.city {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.4rem;
}

.right a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}

.right a:hover {
  color: #cbcbcb;
}
