#root {
  min-height: 100vh;
  width: 100%;
}

body {
  background-color: #000;
  color: #fff;
  padding: 0rem 2rem 0rem 2rem;
}

.appViewport {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.appRoot {
  width: 100%;
}

::selection {
  background: #ffffff;
  color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 480px) {
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
